body {
  margin: 0;
}
.preloader {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #292970;
}
.preloader img {
	width: 250px; height: 250px;
	background-size: contain;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to { transform: rotate(360deg) }
}